<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Bi-color canis satis gratias calcaria est.Armarium assimilants, tanquam barbatus terror.Eheu.Detriuss ridetis in
  secundus cirpi!Zirbus, habena, et usus.
  Luna de festus cacula, attrahendam galatae!Ubi est albus fuga?Ratione moris, tanquam regius genetrix.
  Hercle, lacta regius!, lumen!Castus galluss ducunt ad humani generis.Fluctus, nomen, et apolloniates.
  Animaliss peregrinationes in oenipons!Finis de nobilis danista, carpseris lacta!
  Cum usus ire, omnes lacteaes examinare raptus, primus mortemes.
  Ignigenas accelerare in vierium!
</p>